{{#yield-content}}
    <div class="info">
        <a href="/" class="back-home">Home page</a>
        <div class="about">
            <p>
                Lava tubes are the result of differential cooling of lava flow during volcanic activity. They have been found on the Earth, Mars, and the Moon; they are suspected to be present on more Solar System bodies. Over 20 lava tubes exist in Hawaii.
            </p>
            <p>
                Lava tubes are formed when the upper layer of lava flowing from a volcano starts to cool while the lava underneath continues to flow in tubular channels.
                The hardened lava above insulates the molten lava below, allowing it to retain its liquid warmth and continue flowing.
                Lava tubes are found on Earth and can vary from a simple tube to a complex labyrinth that extends for miles.
                If the tunnels leading off the skylights have stood the test of time and are still open, they could someday provide human visitors protection from incoming meteoroids and other perils.
            </p>
            <div class="team">
                <span>Team:</span>
                <ul>
                    <li>Marion Archambault</li>
                    <li>Benoit Leblanc</li>
                    <li>Mehdi-Loup Nasom</li>
                    <li>Stéphane Reiss</li>
                    <li>Chiali Tsai</li>
                    <li>Maxime Verrette</li>
                </ul>
            </div>
            <div class="menu" style="position: static;"><a href="/">Back to home</a></div>
        </div>
    </div>
{{/yield-content}}
