{{#yield-content}}
    <div class="game">
        <div class="tube-map">
            <button class="to-mars">TO MARS</button>
            Game {{game_id}} | <span class="player-count"></span> Player(s)
            <br/>
            <div class="right-sidebar">
                <div class="ressources">
                    <div class="ressource res-oxygen">100%</div>
                    <div class="ressource res-water">0/xxxxx lt</div>
                    <div class="ressource res-food">10 portions</div>
                    <div class="ressource res-energy">0/xxxxx volt</div>
                    <div class="ressource res-matters">10000</div>
                </div>
                <div class="radio">
                    <div class="messages"></div>
                    <input type="text" placeholder=">" class="message"/>
                </div>
            </div>
            {{^isProd}}
                <pre class="game-info"></pre>
            {{/isProd}}
        </div>

        <div class="mars-map">
            <div class="logo">Mars Year One | 687</div>
            <div class="tube tube1">
                <h2>Lava tube Beta</h2>
                <div class="status">
                    <div class="vert on"><span>Available</span></div>
                    <div class="rouge off"></div>
                </div>
                <button class="my-tube">MY TUBE</button>
            </div>
            <div class="tube tube2">
                <h2>Lava tube Alpha</h2>
                <div class="status">
                    <div class="vert off"></div>
                    <div class="rouge on"><span>Occupied</span></div>
                </div>
                <button>tube 2</button>
            </div>
             <div class="tube tube3">
                <h2>Lava tube Omega</h2>
                <div class="status">
                    <div class="vert off"></div>
                    <div class="rouge on"><span>Occupied</span></div>
                </div>
                <button>tube 2</button>
            </div>
        </div>
        
        <div class="loading">
            <div class="start"></div>
            <div class="end"></div>
            <div class="ship"></div>
        </div>
    </div>
{{/yield-content}}
