{{#yield-content}}
    <div class="game">
        <div class="desktop">
            Game {{game_id}} | <span class="player-count"></span> Player(s)
            <br/>
            <div class="right-sidebar">
                <div class="ressources">
                    <div class="ressource res-oxygen">100%</div>
                    <div class="ressource res-water">0/xxxxx lt</div>
                    <div class="ressource res-food">10 portions</div>
                    <div class="ressource res-energy">0/xxxxx volt</div>
                    <div class="ressource res-matters">10000</div>
                </div>
                <div class="radio">
                    <div class="messages"></div>
                    <input type="text" placeholder=">" class="message"/>
                </div>
            </div>
            <pre class="game-info"></pre>
        </div>
        
        <div class="loading">
            <div class="start"></div>
            <div class="end"></div>
            <div class="ship"></div>
        </div>
    </div>
{{/yield-content}}
