{{#yield-content}}
    <div class="game">
        <div class="tube-map">
            <div class="right-sidebar">
                <button class="to-mars">TO MARS</button>
                Game {{game_id}} | <span class="player-count"></span> Player(s)
                <br/>
                <div class="ressources">
                    <div class="ressource res-oxygen"><span>100</span> %</div>
                </div>
                <div class="radio">
                    <div class="messages"></div>
                    <input type="text" placeholder=">" class="message"/>
                </div>
            </div>
            {{^isProd}}
                <pre class="game-info"></pre>
            {{/isProd}}
        </div>

        <div class="mars-map">
            <div class="logo">Mars Year One | 687</div>
            <button class="my-tube">MY TUBE</button>
        </div>
        
        <div class="loading">
            <div class="start"></div>
            <div class="end"></div>
            <div class="ship"></div>
        </div>
    </div>
{{/yield-content}}
