{{#yield-content}}
    <div class="loader"><img src="/img/loader.GIF"></div>
    <div class="register">
        <div class="menu">
            <div class="field"><label for="player-name">Player:</label> <input type="text" name="player-name" class="player-name" /></div>
            <button class="new-game" disabled>New game</button>
            <span>Join a game</span>
            <select class="game-list" disabled>
                <option>--</option>
            </select>
        </div>
    </div>
{{/yield-content}}
