{{#yield-content}}
    <div class="loader">
        <img src="/img/loader.GIF">
        <span>Loading...</span>
    </div>
    <div class="register">
        <div class="menu">
            <div class="field"><label for="player-name">Player:</label> <input type="text" name="player-name" class="player-name" /></div>
            <button class="new-game" disabled>New game</button>
            <span>Join a game</span>
            <table>
                <tr>
                    <th>Game</th>
                    <th>Number of players</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td>Game1</td>
                    <td>1/4</td>
                    <td><button class="join game1">Join</button></td>
                </tr>
            </table>
        </div>
        </div>
    </div>
{{/yield-content}}
